header.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 11;
    padding: 32px 0;
    transition: 0.3s;

    .header__logo {
        img {
            max-width: 222px;
            vertical-align: middle;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: right;

        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 50px;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: #fff;
                text-decoration: none;
                font-size: 17px;
                text-transform: capitalize;
            }

            &.sublink {
                position: relative;

                &::after {
                    content: '';
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background: url('../img/header-arrow.svg') no-repeat center / 10px;
                    vertical-align: middle;
                    margin-top: -1px;
                }
            }

            .getstarted {
                background: rgba(255, 255, 255, 0.10);
                border-radius: 30px;
                height: 50px;
                color: #F9F9F9;
                font-size: 17px;
                font-family: "Montserrat", sans-serif;
                line-height: 150%;
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                min-width: 180px;
                padding: 2px 55px 2px 21px;
                position: relative;
                border: 0.6px solid var(--bg, #F9F9F9);

                span {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: rgba(174, 174, 174, 0.19);
                    position: absolute;
                    right: 4px;
                    top: 4px;
                }
            }
        }
    }

    &.blue {
        background: #102140;
        padding: 20px 0;
    }
}

header.header.sticky {
    background: #102140;
    padding: 10px 0;
    box-shadow: 0 0 10px #102140;
}

header.header .submenu {
    position: absolute;
    top: calc(100% + 35px);
    left: -220px;
    list-style-type: none;
    margin: 0;
    padding: 60px 60px 25px 60px;
    z-index: 2;
    background: #F9F9F9;
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    width: 795px;
    flex-wrap: wrap;
    display: flex;
    transition: 0.5s;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transform: translateY(-20px);

    &::after {
        content: '';
        display: inline-block;
        width: 36px;
        height: 24px;
        background: url('../img/triangle.png') no-repeat top center / 100% 100%;
        position: absolute;
        top: -20px;
        left: 235px;
    }

    li {
        width: 100%;
        max-width: 50%;
        flex: 0 0 50%;
        margin-right: 0;
        display: block;
        text-align: left;
        margin-bottom: 35px;

        a {
            color: #102140;
            font-size: 17px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            line-height: 150%;
            display: flex;
            align-items: center;

            img {
                width: 100%;
                max-width: 69px;
                flex: 0 0 69px;
            }

            span {
                width: 100%;
                max-width: calc(100% - 69px);
                flex: 0 0 calc(100% - 69px);
                padding-left: 20px;
            }
        }
    }

    &.show {
        visibility: visible;
        z-index: 2;
        opacity: 1;
        transform: translateY(0);
    }
}

.mobmenu,
.closemenu {
    display: none;
}

header.header ul > li {
    &:hover {
        &>a {
            color: #7bd834;
        }

        &::after {
            background: url('../img/header-arrowgreen.svg') no-repeat center / 10px;
        }

        .getstarted {
            color: #F9F9F9;
        }
    }

    .submenu li a {
        transition: 0.3s;

        &:hover {
            color: #7bd834;
        }
    }

    .getstarted {
        transition: 0.3s;

        span {
            transition: 0.3s;
        }

        &:hover {
            animation: pulse1 2s infinite;
        }
    }
}

@keyframes pulse1 {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .5);
    }

    50% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .5);
    }
}




@media(max-width:1599.8px) {
    header.header .submenu {
        width: 600px;
        padding: 30px 30px 15px 30px;
        top: calc(100% + 20px);
    }

    header.header .submenu li {
        padding-right: 15px;
        margin-bottom: 20px;

        a {
            font-size: 16px;

            img {
                max-width: 60px;
            }
        }
    }

    header.header .submenu:after {
        width: 30px;
        height: 16px;
    }

    header.header .submenu:after {
        top: -13px;
    }

}

@media(max-width:1440.8px) {

    header.header ul li a {
        font-size: 16px;
    }

    header.header ul li {
        margin-right: 37px;
    }

}

@media(max-width:1199.8px) {
    header.header .header__logo img {
        max-width: 100%;
    }

    header.header ul li a {
        font-size: 15px;
    }

    header.header ul li {
        margin-right: 18px;
    }

    header.header ul li .getstarted {
        font-size: 15px;
        height: 44px;
        min-width: 160px;

        span {
            right: 3px;
            top: 3px;
            width: 36px;
            height: 36px;
        }
    }

}

@media(max-width:991.8px) {
    header.header {
        nav {
            display: none;
        }

        .container {
            position: relative;
        }
    }

    .mobmenu {
        display: inline-block;
        position: absolute;
        right: 12px;
        top: -3px;
        z-index: 3;
        background: transparent;
        padding: 5px;
        border: none;

        img {
            vertical-align: top;
        }
    }

    header.header nav {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(72deg, #102140 26%, #213862 96.71%);
        z-index: 14;
        overflow: auto;
        padding: 70px 50px 50px 50px;
        transition: 0.5s;
        transform: translateX(100%);

        &.show {
            transform: translateX(0);
        }

        ul {
            display: block;
            text-align: left;

            li {
                display: block;
                margin: 0 0 20px 0;

                a {
                    font-size: 24px;
                }
            }
        }
    }

    .closemenu {
        display: inline-block;
        position: absolute;
        right: 25px;
        top: 25px;
        width: 36px;
        height: 36px;
        background: transparent;
        border: none;
        padding: 0;
        outline: none;

        img {
            max-width: 100%;
        }
    }

    header.header ul li .getstarted {
        font-size: 18px;
        height: 50px;
        min-width: 200px;
        margin-top: 30px;

        span {
            width: 40px;
            height: 40px;
            right: 4px;
            top: 4px;
        }
    }

    header.header ul li.sublink:after {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 0;
        top: 0;
        background-size: 20px;
    }

    header.header .submenu {
        transform: none;
        opacity: 1;
        visibility: visible;
        position: relative;
        left: initial;
        padding: 20px;
        box-shadow: none;
        top: initial;
        width: 100%;
        z-index: 3;
        margin-top: 20px;
        display: none;

        li {
            a {
                font-size: 18px;
            }
        }

        &.show {
            display: flex;
        }

    }

    header.header .submenu:after {
        display: none;
    }

    
}

@media(max-width:767.8px) {
    .closemenu {
        width: 30px;
        height: 30px;
        right: 20px;
        top: 20px;
    }

    header.header nav {
        padding: 70px 40px 40px 40px;
    }

    header.header nav ul li {
        margin-bottom: 15px;

        a {
            font-size: 21px;
        }
    }

    header.header ul li.sublink:after {
        top: 3px;
    }

    header.header .submenu li a {
        font-size: 16px;
    }

}

@media(max-width:575.8px) {

    .closemenu {
        padding: 5px;
        right: 10px;
        top: 10px;
    }

    header.header nav {
        padding: 50px 20px 20px 20px;
    }

    header.header nav ul li a {
        font-size: 18px;
    }

    header.header ul li.sublink:after {
        background-size: 16px;
        top: 2px;
    }

    header.header .submenu.show {
        display: block;
    }

    header.header .submenu {
        // background: transparent;
        padding: 10px;
        border-radius: 5px;
    }

    header.header .submenu li {
        max-width: 100%;
        flex: 0 0 100%;

        a {
            font-size: 16px;
        }
    }

    header.header .submenu li {
        margin-bottom: 15px;

        a {
            
            img {
                max-width: 50px;
                flex: 0 0 50px;
            }
    
            span {
                max-width: calc(100% - 50px);
                flex: 0 0 calc(100% - 50px);
                padding-left: 15px;
            }
        }
    }

    header.header nav ul li a {
        display: block;
    }

    header.header .header__logo img {
        max-width: 200px;
    }

    .mobmenu {
        top: -6px;
    }























}