.welcomescreen {
    min-height: 100vh;
    background: linear-gradient(72deg, #102140 26%, #213862 96.71%);
    padding-top: 228px;
    position: relative;

    h1 {
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-size: 50px;
        font-weight: 400;
        line-height: 125%;
        margin-bottom: 45px;
        max-width: 1162px;

        span {
            font-weight: 600;
        }
    }

    .description {
        margin-bottom: 45px;

        max-width: 652px;

        p {
            color: rgba(255, 255, 255, 0.70);
            font-size: 17px;
            line-height: 150%;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .grbtn {
        @include greenbtn;
    }

    .welcomescreen__bottchecks {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 1126px;
        width: 100%;
        height: 94px;
        background: url('../img/welcome-elem.png') no-repeat center right / 100% 100%;
        display: flex;
        align-items: center;
        padding: 10px 294px 10px 90px;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            li {
                color: rgba(255, 255, 255, 0.85);
                font-size: 17px;
                font-family: "Montserrat", sans-serif;
                font-weight: 500;
                text-transform: capitalize;
                max-width: 238px;
                position: relative;
                padding-left: 40px;

                &::after {
                    content: '';
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background: url('../img/check.svg') no-repeat center / 100%;
                }
            }
        }
    }

    .welcomescreen__bgpic {
        position: absolute;
        right: 0;
        bottom: 0;
    }

}

.our-services {
    position: relative;
    padding: 130px 0 170px 0;

    h2,
    h3 {
        color: #102140;
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        font-weight: 600;
        line-height: 125%;
    }

    .our-services__bg1 {
        position: absolute;
        left: 0;
        bottom: 12px;
    }

    .our-services__bg2 {
        position: absolute;
        right: 0;
        top: 118px;
    }

    .container {
        z-index: 2;
        position: relative;
    }
}

.servicesrow {
    padding-top: 79px;

    .col-lg-4 {

        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(8),
        &:nth-child(11) {
            transform: translateY(-79px);
        }
    }
}

.servicebox {
    background: linear-gradient(72deg, #102140 26%, #213862 96.71%);
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    height: 231px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
    text-decoration: none;
    position: relative;

    .servicebox__icon {
        max-width: 100px;
    }

    p {
        color: #fff;
        font-size: 19px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 15px;
    }

    .servicebox__bgelem {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.outcustservproc {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(180deg, #F9F9F9, #cae7ff);
    position: relative;
}

.outcustservproc__leftsect {
    width: 100%;
    max-width: 36%;
    flex: 0 0 36%;
    background: linear-gradient(72deg, #102140 26%, #213862 96.71%);
    border-radius: 0 30px 0 0;
    padding: 114px 130px 50px 0;
    position: relative;

    .grbtn {
        @include greybtn;
    }

    h3 {
        color: #fff;
        font-size: 40px;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 50px;
        font-weight: 600;
        line-height: 125%;
    }

    .arricon {
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 100%;
    }

}

.outcustservproc__rightsect {
    width: 100%;
    max-width: 64%;
    flex: 0 0 64%;
    padding-top: 100px;
    padding-bottom: 130px;


    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            padding-left: 125px;
            position: relative;
            padding-bottom: 80px;

            &:last-child {
                margin-bottom: 0;

                &::after {
                    display: none;
                }
            }

            p {
                margin: 0;
                color: #4D5E6D;
                font-size: 18px;
                line-height: 150%;
                max-width: 527px;
            }

            p.title {
                margin-bottom: 10px;
                color: #102140;
                font-size: 25px;
                font-weight: 600;
                max-width: 580px;
            }

            span {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                height: 80px;
                color: #34533C;
                font-size: 30px;
                font-family: "Montserrat", sans-serif;
                font-weight: 600;
                line-height: 1;
                background: url('../img/circle-list.png') no-repeat center / 100%;
                position: absolute;
                left: 0;
                top: 0;
                transform: translateX(-50%);
                z-index: 3;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 5px;
                background: linear-gradient(90deg, #598638, #5986388C);
                height: 100%;
                position: absolute;
                left: 0;
                top: 20px;
                transform: translateX(-50%);
                z-index: 2;
            }


        }
    }
}

.outcustservproc__bgpic {
    position: absolute;
    right: 0;
    bottom: -186px;
    z-index: 2;
}

.testimonials__bgel {
    position: absolute;
    left: 0;
    top: 0;
}

.testimonials {
    padding: 140px 0 100px 0;
    position: relative;

    .container {
        position: relative;
        z-index: 2;
    }
}

.testimonials__left {
    position: relative;
    height: 100%;

    h3 {
        color: #102140;
        margin-bottom: 45px;
        font-size: 40px;
        font-weight: 600;
        line-height: 125%;
        font-family: "Montserrat", sans-serif;
    }

    .descr {
        p {
            color: #4D5E6D;
            font-size: 18px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &>img {
        position: absolute;
        bottom: 20px;
        right: 0;
    }
}

.testimonials__right {
    padding: 170px 20px 0 60px;
}

.testimonialbox {
    background: linear-gradient(72deg, #102140 26%, #213862 96.71%);
    border-radius: 10px;
    box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.09);
    padding: 20px;
    min-height: 290px;
    margin-bottom: 30px;

    .testimonialbox__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .gic {
            width: 40px;
        }

        .testimonialbox__rating {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 106px;
        }
    }

    .testimonialbox__body {
        p {
            margin: 0;
            color: #F9F9F9;
            font-size: 16px;
            font-weight: 300;
        }

        .title {
            margin-bottom: 15px;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
        }
    }



}

.tesimtrow {
    .col-lg-6 {
        &:nth-child(even) {
            transform: translateY(-150px);
        }
    }
}

.logosection {
    padding: 50px 0 87px 0;

    .logoswrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .logobox {
        background: linear-gradient(72deg, rgba(16, 33, 64, 0.90) 26%, rgba(33, 56, 98, 0.90) 96.71%);
        width: 215px;
        height: 90px;
        border-radius: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 13px 46px 13px;

        img {
            max-width: 100%;
            max-height: 100%;
        }

        &:nth-child(even) {
            transform: translateY(20px);
        }
    }
}

.pbottsection {
    h3 {
        font-family: "Montserrat", sans-serif;
        color: #102140;
        font-size: 35px;
        font-weight: 600;
        line-height: 125%;
    }

    .contactblock {
        ul {
            text-align: right;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                vertical-align: middle;
                margin-right: 40px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    background: linear-gradient(72deg, #102140 26%, #213862 96.71%);
                    display: inline-flex;
                    align-items: center;
                    height: 83px;
                    width: 390px;
                    border-radius: 10px;
                    color: #F9F9F9;
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 150%;
                    padding: 5px 15px 5px 47px;
                    position: relative;

                    .ic {
                        margin-right: 20px;
                        width: 40px;
                    }

                    .linkbg {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        max-width: 100%;
                        max-height: 100%;
                    }

                }
            }
        }
    }
}

.pbottsection__header {
    margin-bottom: 100px;
}

.pbottsection__body {
    padding: 95px 0 20px 0;
    position: relative;
    background: url('../img/botsectbgimg.png') no-repeat top right / 95% 100%;
    overflow: hidden;


    .pbottsection__bodywr {
        max-width: 499px;
        padding-left: 205px;
    }

    h3 {
        color: #fff;
        font-size: 45px;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        line-height: 125%;
        margin-bottom: 50px;
    }

    a {
        @include greenbtn;
    }
}

.pbottsection__bodyimg {
    position: absolute;
    right: 0;
    top: 0;
}

@keyframes pulse2 {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(123, 216, 52, .5);
    }

    50% {
        -webkit-box-shadow: 0 0 0 20px rgba(123, 216, 52, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(123, 216, 52, .5);
    }
}

@keyframes pulse3 {

    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(16, 33, 64, .3);
    }

    50% {
        -webkit-box-shadow: 0 0 0 20px rgba(16, 33, 64, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(16, 33, 64, .3);
    }
}

.welcomescreen .grbtn,
.pbottsection__body a {
    &:hover {
        animation: pulse2 2s infinite;
    }
}

.servicebox {
    transition: 0.5s;
    transform: scale(1);

    &:hover {
        transform: scale(1.05);
    }
}

.outcustservproc__leftsect .grbtn {
    &:hover {
        animation: pulse1 2s infinite;
    }
}

.pbottsection .contactblock ul li a {
    transition: 0.3s;

    &:hover {
        animation: pulse3 2s infinite;
    }
}


// font-family: "Montserrat", sans-serif;
// font-family: "Nunito Sans", sans-serif;


// v2

.welcomescreen.v2 {
    overflow: hidden;

    .imgwrap {
        text-align: right;
        position: relative;

        .imgw {
            display: inline-block;
            max-width: 100%;
            position: relative;
            z-index: 2;
        }

        .imgel {
            position: absolute;
            left: 0;
            bottom: -170px;
            max-width: calc(100% + 30px);
        }
    }
}

.outcustservproc-lpic {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.testimonials-lpic {
    max-width: 100%;
}



@media(min-width:1750px) {
    .outcustservproc__leftsect {
        padding-right: 80px;
    }
}

@media(min-width:1300px) and (max-height:850px) {
    .welcomescreen .welcomescreen__bgpic {
        width: 600px;
    }
}

@media(min-width:1300px) and (max-height:750px) {
    .welcomescreen .welcomescreen__bgpic {
        width: 550px;
    }

    .welcomescreen.v2 .imgwrap .imgel {
        display: none;
    }
}

@media(max-width:1599.8px) {

    .welcomescreen h1 {
        font-size: 44px;
        margin-bottom: 35px;
    }

    .welcomescreen .description {
        max-width: 600px;
        margin-bottom: 35px;
    }

    .welcomescreen {
        padding-top: 200px;
    }

    .welcomescreen .welcomescreen__bottchecks {
        height: 80px;
    }

    .our-services {
        padding: 100px 0 130px 0;
    }

    .servicebox .servicebox__icon {
        max-width: 80px;
    }

    .servicebox {
        height: 200px;

        p {
            font-size: 17px;
            margin-bottom: 5px;
        }
    }

    .servicesrow .col-lg-4:nth-child(11),
    .servicesrow .col-lg-4:nth-child(2),
    .servicesrow .col-lg-4:nth-child(5),
    .servicesrow .col-lg-4:nth-child(8) {
        transform: translateY(-60px);
    }

    .outcustservproc__rightsect ul li {
        padding-bottom: 50px;
    }

    .outcustservproc__rightsect {
        padding-top: 80px;
        padding-bottom: 100px;
    }

    .outcustservproc__rightsect ul li span {
        width: 60px;
        height: 60px;
        font-size: 24px;
    }

    .testimonials {
        padding: 100px 0 70px 0;
    }

    .testimonials__left .descr {
        max-width: 400px;
    }

    .testimonials__left h3 {
        margin-bottom: 35px;
    }

    .testimonials__right {
        padding: 100px 20px 0 60px;
    }

    .tesimtrow .col-lg-6:nth-child(2n) {
        transform: translateY(-70px);
    }

    .testimonialbox .testimonialbox__header {
        margin-bottom: 20px;
    }

    .testimonialbox .testimonialbox__body .title {
        margin-bottom: 5px;
    }

    .testimonialbox {
        min-height: 250px;
    }

    .pbottsection .contactblock ul li a {
        font-size: 18px;
        height: 70px;
        width: 340px;
        padding: 5px 15px 5px 30px
    }

    .pbottsection__header {
        margin-bottom: 50px;
    }

    .pbottsection__body {
        padding: 70px 0 40px 0;
    }

    .pbottsection__body .pbottsection__bodywr {
        max-width: 100%;
        padding-left: 300px;
    }

    .welcomescreen.v2 {
        padding-top: 160px;
    }

    









    .welcomescreen .grbtn {
        height: 50px;
        min-width: 220px;
        padding-left: 40px;

        span {
            width: 42px;
            height: 42px;
        }
    }

    .our-services h2,
    .our-services h3,
    .outcustservproc__leftsect h3,
    .testimonials__left h3 {
        font-size: 36px;
    }

    .pbottsection h3 {
        font-size: 32px;
    }

    .pbottsection .pbottsection__bodywr h3 {
        font-size: 28px;
    }

    .outcustservproc__rightsect ul li p.title {
        font-size: 24px;
    }

    .welcomescreen .description p,
    .welcomescreen .grbtn,
    .outcustservproc__rightsect ul li p,
    .testimonials__left .descr p {
        font-size: 16px;
    }

    .welcomescreen .welcomescreen__bottchecks ul li,
    .testimonialbox .testimonialbox__body p {
        font-size: 14px;
    }

}

@media(max-width:1440.8px) {

    .welcomescreen h1 {
        font-size: 36px;
    }

}

@media(max-width:1400.8px) {
    .welcomescreen .welcomescreen__bottchecks {
        max-width: 1000px;
        padding-right: 160px;
    }

    .servicebox .servicebox__icon {
        max-width: 65px;
    }

    .servicebox {
        height: 180px;
    }

    .outcustservproc__leftsect {
        padding-right: 50px;
    }

    .pbottsection__bodyimg {
        max-width: 500px;
    }

    .pbottsection__body .pbottsection__bodywr {
        padding-left: 220px;
    }



    .our-services h2,
    .our-services h3,
    .outcustservproc__leftsect h3,
    .testimonials__left h3 {
        font-size: 32px;
    }
}

@media(max-width:1300.8px) {
    .welcomescreen .welcomescreen__bgpic {
        width: 550px;
        bottom: 50px;
    }

    .servicebox {
        padding: 10px;

        p {
            font-size: 16px;
        }
    }

    .our-services {
        padding-bottom: 80px;
    }

    .outcustservproc__rightsect ul li {
        padding-left: 100px;
    }

    .outcustservproc__leftsect .arricon {
        max-width: 250px;
    }

    .outcustservproc__bgpic {
        max-width: 280px;
    }

}

@media(max-width:1199.8px) {

    .welcomescreen {
        height: 100vh;
        min-height: 750px;
    }

    .welcomescreen .welcomescreen__bgpic {
        width: 500px;
    }

    .welcomescreen .description {
        max-width: 500px;
    }

    .welcomescreen .welcomescreen__bgpic {
        width: 450px;
        bottom: 80px;
    }

    .our-services {
        padding: 70px 0 100px 0;
    }

    .servicesrow {
        padding-top: 60px;
    }

    .servicebox {
        height: 160px;
    }

    .outcustservproc__leftsect .grbtn span {
        top: 3px;
    }

    .outcustservproc__rightsect ul li {
        padding-left: 80px;
    }

    .outcustservproc__leftsect .arricon {
        max-width: 200px;
    }

    .outcustservproc__rightsect ul li {
        padding-bottom: 30px;
    }

    .testimonials__left>img {
        max-width: 600px;
    }

    .testimonialbox .testimonialbox__header .gic {
        width: 30px;
    }

    .testimonialbox .testimonialbox__header .testimonialbox__rating {
        width: 90px;
    }

    .testimonialbox .testimonialbox__header {
        margin-bottom: 10px;
    }

    .testimonialbox {
        padding: 15px;
    }

    .testimonialbox .testimonialbox__body p {
        line-height: 150%;
    }

    .logosection .logobox {
        width: 160px;
        height: 70px;

        img {
            max-height: 50px;
        }
    }

    .pbottsection .contactblock ul li {
        margin-right: 15px;

        a {
            font-size: 16px;
            height: 60px;
            width: 280px;
            padding-left: 20px;
        }
    }

    .pbottsection__bodyimg {
        max-width: 400px;
    }

    .pbottsection__body .pbottsection__bodywr {
        padding-left: 190px;
    }

    .pbottsection__body {
        padding: 50px 0 30px 0;
    }


    .outcustservproc__rightsect ul li p.title {
        font-size: 21px;
    }

    .our-services h2,
    .our-services h3,
    .outcustservproc__leftsect h3,
    .testimonials__left h3,
    .pbottsection h3 {
        font-size: 28px;
    }

    .welcomescreen h1 {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .testimonials__left .testimonials-lpic {
        max-width: 100%;
    }

    .welcomescreen.v2 .imgwrap .imgel {
        max-width: 100%;
        bottom: -120px;
    }

}

@media(max-width:991.8px) {
    .welcomescreen .welcomescreen__bottchecks {
        background: #091a39;
        padding: 10px;

        ul {
            max-width: 720px;
            margin: 0 auto;
        }
    }

    .welcomescreen {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .container {
            order: 1;
        }
    }

    .welcomescreen .welcomescreen__bgpic {
        position: relative;
        bottom: initial;
        right: initial;
        order: 2;
        margin: 30px auto 0;
        max-width: 720px;
    }

    .welcomescreen {
        height: auto;
        min-height: 100vh;
    }

    .welcomescreen .welcomescreen__bottchecks {
        position: relative;
        order: 3;
    }

    .servicesrow .col-lg-4:nth-child(11),
    .servicesrow .col-lg-4:nth-child(2),
    .servicesrow .col-lg-4:nth-child(5),
    .servicesrow .col-lg-4:nth-child(8) {
        transform: translateY(0);
    }

    .servicesrow .col-lg-4:nth-child(even) {
        transform: translateY(-40px);
    }

    .servicesrow {
        padding-top: 20px;
    }

    .outcustservproc__leftsect {
        padding: 50px 40px 50px 0;
    }

    .outcustservproc__leftsect {
        max-width: 100%;
        flex: 0 0 100%;
        border-radius: 0;
    }

    .outcustservproc__rightsect {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .outcustservproc__rightsect {
        padding-left: 50px;
    }

    .outcustservproc__rightsect ul li:after {
        background: #7bd834;
    }

    .testimonials__left>img {
        display: none;
    }

    .testimonials__right {
        padding: 80px 0 0 0;
    }

    .testimonials {
        padding-bottom: 20px;
    }

    .logosection .logobox:nth-child(2n) {
        transform: none;
    }

    .logosection .logobox {
        margin: 0 10px 20px 10px;
    }

    .pbottsection .contactblock ul {
        text-align: center;
    }

    .pbottsection h3 {
        text-align: center;
    }

    .pbottsection__body {
        background: #091a39;
    }

    .pbottsection__body .pbottsection__bodywr {
        padding-left: 0;
    }

    .pbottsection .pbottsection__bodywr h3 {
        text-align: left;
    }

    .pbottsection__header {
        margin-bottom: 20px;
    }

    .outcustservproc-lpic {
        width: 230px;
        right: 0;
        left: initial;
    }


    .welcomescreen h1 {
        font-size: 36px;
    }

    .outcustservproc__rightsect ul li p.title {
        font-size: 24px;
    }

    .servicebox p {
        font-size: 18px;
    }
    
    .welcomescreen.v2 {
        min-height: 100vh;
        height: auto;
    }

    .welcomescreen.v2 .imgwrap {
        text-align: center;
        margin-top: 30px;

        .imgel {
            right: 0;
            margin: 0 auto;
            bottom: -100px;
        }
    }
    
}

@media(max-width:767.8px) {
    .welcomescreen {
        padding-top: 160px;
    }

    .welcomescreen .welcomescreen__bottchecks ul li {
        width: 100%;
        max-width: 33.333%;
        flex: 0 0 33.333%;
        padding-right: 10px;
        font-size: 12px;
    }

    .servicesrow .col-lg-4:nth-child(2n),
    .tesimtrow .col-lg-6:nth-child(2n) {
        transform: none;
    }

    .servicesrow {
        padding-top: 0;
    }

    .our-services {
        padding-bottom: 40px;
    }

    .testimonials__right {
        padding-top: 40px;
    }

    .logosection {
        padding: 30px 0 60px 0;
    }

    .pbottsection .contactblock ul li a {
        max-width: 240px;
        padding-left: 10px;

        .ic {
            margin-right: 7px;
        }
    }

    .pbottsection__bodyimg {
        max-width: 270px;
    }

    .outcustservproc-lpic {
        width: 160px;
    }




    .welcomescreen h1 {
        font-size: 32px;
    }


}

@media(max-width:575.8px) {

    .welcomescreen .welcomescreen__bgpic,
    .testimonials__bgel,
    .our-services .our-services__bg1,
    .our-services .our-services__bg2 {
        max-width: 100%;
    }

    .welcomescreen .welcomescreen__bottchecks {
        height: auto;

        ul {
            flex-wrap: wrap;

            li {
                max-width: 100%;
                flex: 0 0 100%;
                margin-bottom: 5px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .our-services {
        padding: 50px 0;
    }

    .servicebox {
        height: auto;
        min-height: 160px;
        margin-bottom: 15px;
    }

    .outcustservproc__leftsect .arricon {
        max-width: 110px;
        display: none;
    }

    .outcustservproc__leftsect {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .outcustservproc__leftsect h3 {
        margin-bottom: 20px;
    }

    .outcustservproc__rightsect ul li span {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .outcustservproc__rightsect {
        padding-left: 30px;
        padding-top: 50px;
    }

    .outcustservproc__rightsect ul li {
        padding-left: 40px;

        p {
            line-height: 140%;
        }
    }

    .outcustservproc__bgpic {
        max-width: 200px;
        bottom: -130px;
    }

    .testimonials__left h3 {
        margin-bottom: 15px;
    }

    .testimonials__right {
        padding-top: 20px;
    }

    .testimonialbox {
        min-height: initial;
        padding-bottom: 20px;
        margin-bottom: 15px;
    }

    .logosection .logobox {
        width: 150px;
        height: 60px;
        margin: 0 5px 10px 5px;
    }

    .logosection {
        padding: 20px 0 50px 0;
    }

    .pbottsection .contactblock ul li {
        margin: 0 0 10px 0;
        display: block;

        a {
            width: 100%;
            display: flex;
            max-width: 100%;
            font-size: 18px;

            .ic {
                margin-right: 15px;
            }
        }
    }

    .pbottsection__bodyimg {
        display: none;
    }

    .pbottsection__body {
        padding: 30px 0;
    }

    .pbottsection .pbottsection__bodywr h3 {
        margin-bottom: 20px;
    }

    .welcomescreen.v2 .imgwrap .imgel {
        display: none;
    }

    .outcustservproc-lpic {
        width: 130px;
    }


    .our-services h3 {
        margin-bottom: 15px;
    }

    .welcomescreen h1 {
        font-size: 26px;
    }

    .outcustservproc__rightsect ul li p.title {
        font-size: 21px;
    }

}

@media(max-width:374.8px) {
    .outcustservproc-lpic {
        display: none;
    }
}